	<div class="panel panel-primary">
     	<div class="panel-body">
             <center><%= image_tag @article.image.url(:large),:class => "img-responsive thumb img-thumbnail m-b" %> </center>
             <article>
             <h4><b><%= @article.title %></b></h4>
             <p>
                 <%= @article.content %>   
             </p></article>
         </div>
 	</div>

